{% extends "shoop/admin/base.jinja" %}
{% from "shoop/admin/macros/general.jinja" import content_block, content_with_sidebar %}
{% from "shoop/admin/macros/multilanguage.jinja" import language_dependent_content_tabs, render_monolingual_fields %}

{% block content %}
    {% call content_with_sidebar(content_id="method_form") %}
        <form method="post" id="method_form">
            {% csrf_token %}
            {% call content_block(_("General information"), "fa-info-circle") %}
                {{ language_dependent_content_tabs(form) }}
                <div class="form-divider"></div>
                {{ render_monolingual_fields(form) }}
            {% endcall %}
        </form>
    {% endcall %}
{% endblock %}
