{% from "shoop/admin/macros/general.jinja" import content_block %}
{% from "shoop/admin/macros/multilanguage.jinja" import language_dependent_content_tabs %}
{% set base_form = form["method_base"] %}

{% call content_block(_("General information"), "fa-info-circle") %}
    {{ bs3.field(base_form.module_identifier) }}
    {{ bs3.field(base_form.business_logic) }}
    {{ language_dependent_content_tabs(base_form) }}
    <div class="form-divider"></div>
    {{ bs3.field(base_form.status) }}
    {{ bs3.field(base_form.tax_class) }}
    <div class="form-divider"></div>
    {% for name in base_form.module_option_field_names %}
        {{ bs3.field(base_form[name]) }}
    {% endfor %}
{% endcall %}
