{% extends "shuup/admin/base.jinja" %}
{% from "shuup/admin/macros/general.jinja" import content_block %}

{% block content %}
    {% call content_block(_("Import Data - processing"), "fa-info-circle") %}
        Homo perse
    {% endcall %}
{% endblock %}


