{% from "shoop/admin/macros/multilanguage.jinja" import language_dependent_content_tabs, render_monolingual_fields %}

{% macro render_form(form, formset, form_prefix, idx) %}
{% set full_prefix = form_prefix + idx|string if idx == "__prefix__" else form_prefix %}
<div class="panel panel-default panel-behavior-component panel-{{ full_prefix }}" id="panel-{{ full_prefix }}">
    <div class="panel-heading" role="tab" id="heading-{{ full_prefix }}">
        <h4>
            <a role="button" data-toggle="collapse" href="#collapse{{ full_prefix }}"
               aria-expanded="true" aria-controls="collapse{{ full_prefix }}">
                {{ formset.get_name() }}
            </a>
        </h4>
        <p>{{ formset.get_help_text() }}</p>
    </div>
    <div id="collapse{{ full_prefix }}" class="component-form panel-collapse collapse in" role="tabpanel">

        {{ formset.management_form }}
        {% for ranges_form in formset %}
            {% for field in ranges_form %}
                {{ field }}
            {% endfor %}
            <br>
        {% endfor %}

        {% if form.translated_field_names %}
            {{ language_dependent_content_tabs(form, tab_id_prefix=full_prefix) }}
            <div class="form-divider"></div>
        {% else %}
            <div class="language-tabs"></div>
        {% endif %}
        {{ render_monolingual_fields(form) }}
    </div>
</div>
{% endmacro %}

{% set base_form = form["weight_based_price_base"] %}
{% set ranges_formset = form["weight_based_price_ranges"] %}

<div class="hide" id="{{ form_prefix }}-placeholder">
    {{ render_form(ranges_formset.empty_form, ranges_formset, form_prefix, "__prefix__") }}
</div>

{{ ranges_formset.management_form }}
{%  for range_form in ranges_formset %}
    {% set form_prefix = form_prefix + "-" + (loop.index - 1)|string %}
    {{ render_form(range_form, ranges_formset, form_prefix, loop.index) }}
{% endfor %}

{% block extra_js %}
<script>
    // Rewrite to dynamically add to range formset
</script>
{% endblock %}
