{% extends "shuup/front/base.jinja" %}
{% from "shuup/front/macros.jinja" import render_ordered_files %}
{% from "shuup/personal_order_history/macros/order_detail.jinja" import basic_info, shipping_address, billing_address, status, rows with context %}

{% block title %}{% trans identifier = order.identifier %}Order {{ identifier }}{% endtrans %}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="/">{% trans %}Home{% endtrans %}</a></li>
        <li><a href="{{ url("shuup:personal-orders") }}">{% trans %}Order History{% endtrans %}</a></li>
        <li class="active">{% trans identifier = order.identifier %}Details of order {{ identifier }}{% endtrans %}</li>
    </ol>
{% endblock %}

{% block content %}
    <h1 class="page-header">
        {% trans identifier = order.identifier %}Details of order {{ identifier }}{% endtrans %}
    </h1>

    <div class="row">
        <div class="col-sm-12">
            {{ basic_info() }}
        </div>
        <div class="col-sm-6 col-md-3">
            {{ shipping_address() }}
        </div>
        <div class="col-sm-6 col-md-3">
            {{ billing_address() }}
        </div>
        <div class="col-sm-12 col-md-6">
            {{ status() }}
        </div>
        <div class="col-sm-12">
            {{ rows() }}
        </div>
        <div class="col-sm-12">
            {{ render_ordered_files(order) }}
        </div>
    </div>
{% endblock %}
