{% from "shoop/admin/macros/general.jinja" import content_block %}
{% from "shoop/admin/macros/multilanguage.jinja" import render_monolingual_fields %}
{% set sales_range_form = form["contact_group_sales"] %}
{% set shop_name_prefix = sales_range_form.instance.shop.name ~ " - " %}

{% call content_block(shop_name_prefix ~_("Sales Ranges"), "fa-money") %}
    {{ render_monolingual_fields(sales_range_form) }}
{% endcall %}
